
html { 
    overflow-x: hidden !important; 
   
}
body{
    width:100%;
    

}
.intro{
    padding-top:5%;
}
.intro img{
    margin-left: -18%;
}
.slider-intro{
    padding-top:10%;
}
.quote{
    font-family: 'Poppins', sans-serif;
    font-size: x-large;
    font-weight: bolder;
}
.form-control{
    position: relative;
    width: 335px;
    height: 60px;
    left: -98px;
    top: -20px;

}
.btn-primary{
    position: relative;
    color: #042CBC;
    left: 220px;
    width: 150px;
    height: 60px;
    top: -80px;
    color: #ffffff;
    line-height: 21px;
    font-size: 14px;
    font-weight: bold !important;
    font-family: 'Poppins', sans-serif;
    border-radius: 0;
}
.intro .count-mobile{
    display: none;
}


@media (max-width: 767px){

    .intro .count{
        display: none;
    }
 .intro img{
     justify-content: center;
 }
   .form-control{
       position: absolute;
       top: 230%;
       left: 2.5%;
       width: 300px;
       height: 60px;
   }
   .hero-content{
       position: relative;
       top: 700px;
       left: 0px !important;
       
    }
       
       
   
   .btn-primary{
       position: relative;
       justify-content: center;
       top: 455px;
       left: 20%;
       
   }
   .carousel{
    margin-top: 35px;
    margin-bottom: 35px;
   }

  
 }
 @media \0screen\,screen\9 {
    .dnSlide-main {
      margin-top: 35px;
      margin-bottom: 35px;
    }
  
    .dnSlide-main .dnSlide-right-btn {
      background-image: url("../images/right.png");
    }
  
    .dnSlide-main .dnSlide-left-btn {
      background-image: url("../images/left.png");
    }
  }
  

 