@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;900&display=swap');






body{
    background: #090b13;
    position: relative;

    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    width: 100% !important;
   
    

    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    width: 475px;
    height: 130px;
    font-size: 50px;
    font-weight: 900px !important;
    line-height: 65px;
    top: 125px !important;
    left: 98px;
}
h5{
    position: relative;
    color: #ffffff;
    width: 319px;
    height: 65px;
    left: 98px;
    top: 190px;
    font-family: 'Poppins', sans-serif;

}

.form-control{
    position: relative;
    width: 335px;
    height: 60px;

    left: -70px;
    top: -60px;

    left: 98px;
    top: 220px;

    border-radius: 0 !important;
}
.btn-primary{
    position: relative;
    color: #042CBC;

    left: 264px;

    left: 433px;

    width: 150px;
    height: 60px;
    top: -120px;
    color: #ffffff;
    line-height: 21px;
    font-size: 14px;
    font-weight: bold !important;
    font-family: 'Poppins', sans-serif;
    border-radius: 0;
}
:root {
    --animate-duration: 800ms;
    --animate-delay: 0.9s;
  }
 .hero-content{
     position: relative !important;

     left: -70px !important;
     top: 51px !important;
 }
 img{
     position: relative;
     left: -70px;
     top: 65.34px;
 }
 
 
