@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;900&display=swap');



body{
    background: #090b13;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    width: 100% !important;
}


.form-control{
    position: relative;
    width: 335px;
    height: 60px;
    left: -70px;
    top: -50px;
    border-radius: 0 !important;
}
.btn-primary{
    position: relative;
    color: #042CBC;
    left: 264px;
    width: 150px;
    height: 60px;
    top: -110px;
    color: #ffffff;
    line-height: 21px;
    font-size: 14px;
    font-weight: bold !important;
    font-family: 'Poppins', sans-serif;
    border-radius: 0;
}
:root {
    --animate-duration: 800ms;
    --animate-delay: 0.9s;
  }
 .hero-content{
     position: relative !important;
     left: -30px !important;
     top: 101px !important;
 }
 img{
     position: relative;
     left: -70px;
     top: 65.34px;
 }
 .alert-success{
     top: 120px;
 }
 
 @media (max-width: 640px){
    .hero-content{
      height: 800px; 
      display: none;    
      align-items: center;
      padding-top: 30px;
    }
    
        .mob{
          position: relative;
          left: 0!important
         }
         
}
 
 

 